{"swagger":"2.0","info":{"title":"PropertyMe","version":"1.0"},"host":"app.propertyme.com","basePath":"/api","schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/v1/tenancies":{"get":{"tags":[" Scope: Properties","Tenancies"],"summary":"List of all tenancies","description":"The auth token must contain a scope of property:read.","operationId":"TenancyRequesttenancies_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ContactId","in":"query","description":"Id of the contact associated with the tenancies","type":"string","required":false},{"name":"LotId","in":"query","description":"Id of the property associated with the tenancies","type":"string","required":false},{"name":"HasOwnership","in":"query","description":"Flag indicating whether tenancy has an ownership","type":"boolean","required":false,"x-nullable":false},{"name":"IncludeClosed","in":"query","description":"Flag to include/exclude closed tenancies","type":"boolean","required":false,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"title":"List<TenancyApiData>","type":"array","items":{"$ref":"#/definitions/TenancyApiData"}}},"500":{"description":"An internal error has occurred","schema":{"title":"List<TenancyApiData>","type":"array","items":{"$ref":"#/definitions/TenancyApiData"}}},"400":{"description":"Invalid contact and/or lot id(s)","schema":{"title":"List<TenancyApiData>","type":"array","items":{"$ref":"#/definitions/TenancyApiData"}}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/tasks":{"get":{"tags":[" Scope: Activities"],"summary":"List all tasks changed since a given timestamp","description":"The auth token must contain a scope of activity:read.","operationId":"ChangedTasksRequesttasks_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Timestamp","in":"query","description":"Records returned will have a changed timestamp greater than this value","type":"integer","format":"int64","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"title":"List<MobTaskQueryData>","type":"array","items":{"$ref":"#/definitions/MobTaskQueryData"}}},"500":{"description":"An internal error has occurred","schema":{"title":"List<MobTaskQueryData>","type":"array","items":{"$ref":"#/definitions/MobTaskQueryData"}}}},"deprecated":false,"security":[{"Bearer":[]}]},"post":{"tags":[" Scope: Activities"],"summary":"Create a new task","description":"The auth token must contain a scope of activity:write.","operationId":"AddTaskRequesttasks_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"LotId","in":"body","description":"lot Id","type":"string","required":false},{"name":"DueDate","in":"body","description":"task due date","type":"string","format":"date-time","required":false},{"name":"Summary","in":"body","description":"task summary","type":"string","required":true},{"name":"Description","in":"body","description":"task description","type":"string","required":true},{"name":"ManagerMemberId","in":"body","description":"task manager member id","type":"string","required":false},{"name":"ContactId","in":"body","description":"task contact id","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/TaskResponse"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/TaskResponse"}},"400":{"description":"Invalid task request","schema":{"$ref":"#/definitions/TaskResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/members":{"get":{"tags":[" Scope: Contacts","Members"],"summary":"List all members","description":"The auth token must contain a scope of contact:read.","operationId":"MembersRequestmembers_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"title":"List<CustomerMemberData>","type":"array","items":{"$ref":"#/definitions/CustomerMemberData"}}},"500":{"description":"An internal error has occurred","schema":{"title":"List<CustomerMemberData>","type":"array","items":{"$ref":"#/definitions/CustomerMemberData"}}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/lots":{"get":{"tags":[" Scope: Properties","Properties"],"summary":"List all lots that have changed since a given timestamp","description":"The auth token must contain a scope of property:read.","operationId":"ChangedLotRequestlots_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Timestamp","in":"query","description":"Records returned will have a changed timestamp greater than this value","type":"integer","format":"int64","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"title":"List<MobLotGridData>","type":"array","items":{"$ref":"#/definitions/MobLotGridData"}}},"502":{"description":"Timestamp value is not supplied","schema":{"title":"List<MobLotGridData>","type":"array","items":{"$ref":"#/definitions/MobLotGridData"}}},"500":{"description":"An internal error has occurred","schema":{"title":"List<MobLotGridData>","type":"array","items":{"$ref":"#/definitions/MobLotGridData"}}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/jobtasks":{"get":{"tags":[" Scope: Activities","JobTasks"],"summary":"List all job tasks changed since a given timestamp","description":"The auth token must contain a scope of activity:read.","operationId":"ChangedJobTaskRequestjobtasks_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Timestamp","in":"query","description":"Records returned will have a changed timestamp greater than this value","type":"integer","format":"int64","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"title":"List<MobJobTaskQueryData>","type":"array","items":{"$ref":"#/definitions/MobJobTaskQueryData"}}},"500":{"description":"An internal error has occurred","schema":{"title":"List<MobJobTaskQueryData>","type":"array","items":{"$ref":"#/definitions/MobJobTaskQueryData"}}},"400":{"description":"Invalid timestamp value","schema":{"title":"List<MobJobTaskQueryData>","type":"array","items":{"$ref":"#/definitions/MobJobTaskQueryData"}}}},"deprecated":false,"security":[{"Bearer":[]}]},"post":{"tags":[" Scope: Activities","JobTasks"],"summary":"Create a new job","description":"The auth token must contain a scope of activity:write.","operationId":"AddJobRequestjobtasks_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"LotId","in":"body","description":"lot Id","type":"string","required":true,"x-nullable":false},{"name":"DueDate","in":"body","description":"job due date","type":"string","format":"date-time","required":false},{"name":"Summary","in":"body","description":"job summary","type":"string","required":true},{"name":"Description","in":"body","description":"job description","type":"string","required":true},{"name":"ReportedContactType","in":"body","description":"Job contact types can be one of Owner, Agent and Tenant","type":"string","required":true,"x-nullable":false},{"name":"Access","in":"body","description":"Job access types can be one of Owner, Agent and Tenant","type":"string","required":true,"x-nullable":false},{"name":"ManagerMemberId","in":"body","description":"job manager member id","type":"string","required":false},{"name":"SupplierInstructions","in":"body","description":"supplier instructions","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/JobTaskResponse"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/JobTaskResponse"}},"400":{"description":"Invalid job request","schema":{"$ref":"#/definitions/JobTaskResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/inspections":{"get":{"tags":[" Scope: Activities","Inspections"],"summary":"List all inspections changed since a given timestamp","description":"The auth token must contain a scope of activity:read.","operationId":"ChangedInspectionsRequestinspections_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Timestamp","in":"query","description":"Records returned will have a changed timestamp greater than this value","type":"integer","format":"int64","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"title":"List<ChangedInspectionData>","type":"array","items":{"$ref":"#/definitions/ChangedInspectionData"}}},"500":{"description":"An internal error has occurred","schema":{"title":"List<ChangedInspectionData>","type":"array","items":{"$ref":"#/definitions/ChangedInspectionData"}}}},"deprecated":false,"security":[{"Bearer":[]}]},"post":{"tags":[" Scope: Activities","Inspections"],"summary":"Create a new inspection","description":"The auth token must contain a scope of activity:write.","operationId":"AddInspectionRequestinspections_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"LotId","in":"body","description":"lot Id","type":"string","required":true,"x-nullable":false},{"name":"StartTime","in":"body","description":"Inspection start time","type":"string","format":"date-time","required":true,"x-nullable":false},{"name":"DueDate","in":"body","description":"Inspection due date","type":"string","format":"date-time","required":true,"x-nullable":false},{"name":"Duration","in":"body","description":"Inspection duration length","type":"integer","format":"int32","required":true,"x-nullable":false},{"name":"Summary","in":"body","description":"Inspection summary","type":"string","required":true},{"name":"Description","in":"body","description":"Inspection description","type":"string","required":true},{"name":"Type","in":"body","description":"Inspection type can be one of Routine, Entry, Exit and Open","type":"string","required":true,"x-nullable":false},{"name":"ManagerMemberId","in":"body","description":"Inspection manager member id","type":"string","required":false},{"name":"ListingId","in":"body","description":"listing id for open inspection","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ScheduleInspectionResponse"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/ScheduleInspectionResponse"}},"400":{"description":"Invalid inspection request","schema":{"$ref":"#/definitions/ScheduleInspectionResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/contacts":{"get":{"tags":[" Scope: Contacts","Contacts"],"summary":"Find any contacts changed since a given timestamp","description":"The auth token must contain a scope of contact:read.","operationId":"ChangedContactsRequestcontacts_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Timestamp","in":"query","description":"Records returned will have a changed timestamp greater than this value","type":"integer","format":"int64","required":true,"x-nullable":false},{"name":"IncludeArchived","in":"query","description":"Includes archived contacts","type":"boolean","required":false,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"title":"List<MobContactData>","type":"array","items":{"$ref":"#/definitions/MobContactData"}}},"500":{"description":"An internal error has occurred","schema":{"title":"List<MobContactData>","type":"array","items":{"$ref":"#/definitions/MobContactData"}}},"400":{"description":"Invalid timestamp value","schema":{"title":"List<MobContactData>","type":"array","items":{"$ref":"#/definitions/MobContactData"}}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/bills":{"post":{"tags":[" Scope: Bills"],"summary":"Create a new bill including a document","description":"The auth token must contain a scope of transaction:write.","operationId":"AddBillRequestbills_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"DueDate","in":"body","description":"bill due date","type":"string","format":"date-time","required":true,"x-nullable":false},{"name":"FromFolioId","in":"body","description":"supplier folio id","type":"string","required":false},{"name":"ToFolioId","in":"body","description":"owner folio id","type":"string","required":false},{"name":"ChartAccountId","in":"body","description":"chart account id","type":"string","required":true},{"name":"OwnershipId","in":"body","description":"ownership id, match with owner folio id","type":"string","required":false},{"name":"BillerCode","in":"body","description":"BPAY Biller Code","type":"string","required":false},{"name":"Priority","in":"body","description":"bill priority","type":"string","required":true},{"name":"Reference","in":"body","description":"invoice reference number","type":"string","required":false},{"name":"Detail","in":"body","description":"bill detail","type":"string","required":true},{"name":"Amount","in":"body","description":"bill amount","type":"number","format":"double","required":true,"x-nullable":false},{"name":"IsTaxed","in":"body","description":"include tax","type":"boolean","required":true,"x-nullable":false},{"name":"PaymentCode","in":"body","description":"BPAY Reference","type":"string","required":false},{"name":"IsApproved","in":"body","description":"approved bill","type":"boolean","required":false,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/FinancialResponse"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/FinancialResponse"}},"400":{"description":"Invalid bill request","schema":{"$ref":"#/definitions/FinancialResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/tenancies/balances":{"get":{"tags":[" Scope: Properties","Tenancies"],"summary":"List of all tenancy balances","description":"The auth token must contain a scope of property:read.","operationId":"TenancyBalanceRequesttenanciesbalances_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ContactId","in":"query","description":"Id of the contact associated with the balance","type":"string","required":false},{"name":"LotId","in":"query","description":"Id of the property associated with the balance","type":"string","required":false},{"name":"LastUpdated","in":"query","description":"Only records updated on or after this last updated date time (UTC) will be included in the results set","type":"string","format":"date-time","required":false}],"responses":{"200":{"description":"Success","schema":{"title":"List<TenancyBalanceData>","type":"array","items":{"$ref":"#/definitions/TenancyBalanceData"}}},"500":{"description":"An internal error has occurred","schema":{"title":"List<TenancyBalanceData>","type":"array","items":{"$ref":"#/definitions/TenancyBalanceData"}}},"400":{"description":"Invalid contact and/or lot id(s)","schema":{"title":"List<TenancyBalanceData>","type":"array","items":{"$ref":"#/definitions/TenancyBalanceData"}}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/tasks/{Id}":{"get":{"tags":[" Scope: Activities"],"summary":"Find a Task by id","description":"The auth token must contain a scope of activity:read.","operationId":"GetTaskRequesttasksId_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"query","description":"The id of the task","type":"string","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/TaskQueryData"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/TaskQueryData"}},"400":{"description":"Invalid task id","schema":{"$ref":"#/definitions/TaskQueryData"}}},"deprecated":false,"security":[{"Bearer":[]}]},"post":{"tags":[" Scope: Activities"],"summary":"update an existing task","description":"The auth token must contain a scope of activity:write.","operationId":"UpdateTaskRequesttasksId_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"The id of the task","type":"string","required":true,"x-nullable":false},{"name":"LotId","in":"body","description":"lot Id","type":"string","required":false},{"name":"DueDate","in":"body","description":"task due date","type":"string","format":"date-time","required":false},{"name":"Summary","in":"body","description":"task summary","type":"string","required":true},{"name":"Description","in":"body","description":"task description","type":"string","required":true},{"name":"ManagerMemberId","in":"body","description":"task manager member id","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/TaskResponse"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/TaskResponse"}},"400":{"description":"Invalid task request","schema":{"$ref":"#/definitions/TaskResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/portfolios/disconnect":{"delete":{"tags":["Connection"],"summary":"Disconnect from current portfolio","description":"Cannot be undone, portfolio user will have to choose to reconnect. Current access token remains valid until it expires.","operationId":"DisconnectPortfolioRequestportfoliosdisconnect_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/DisconnectResponse"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/DisconnectResponse"}},"400":{"description":"Cannot identitify customer portfolio","schema":{"$ref":"#/definitions/DisconnectResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/lots/sales":{"get":{"tags":[" Scope: Properties","Properties"],"summary":"List of all lots describing active sales","description":"The auth token must contain a scope of property:read.","operationId":"LotActiveSalesRequestlotssales_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"RentalOnly","in":"query","description":"Rental only","type":"boolean","required":false},{"name":"Offset","in":"query","description":"The number of rows to skip before beginning to return rows. An offset of 0 is the same as omitting the offset parameter.","type":"integer","format":"int32","required":true,"x-nullable":false},{"name":"Limit","in":"query","description":"The maximum number of results to be returned. There may be less if the query returned less than the maximum.","type":"integer","format":"int32","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"title":"List<SalePropertyQueryData>","type":"array","items":{"$ref":"#/definitions/SalePropertyQueryData"}}},"500":{"description":"An internal error has occurred","schema":{"title":"List<SalePropertyQueryData>","type":"array","items":{"$ref":"#/definitions/SalePropertyQueryData"}}},"400":{"description":"Invalid value of offset or limit","schema":{"title":"List<SalePropertyQueryData>","type":"array","items":{"$ref":"#/definitions/SalePropertyQueryData"}}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/lots/archived":{"get":{"tags":[" Scope: Properties","Properties"],"summary":"List of all lots described as archived lots","description":"The auth token must contain a scope of property:read.","operationId":"LotArchivedRequestlotsarchived_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ArchivedSince","in":"query","description":"Only records updated on or after this archived since date time (UTC) will be included in the results set","type":"string","format":"date-time","required":false},{"name":"Offset","in":"query","description":"The number of rows to skip before beginning to return rows. An offset of 0 is the same as omitting the offset parameter.","type":"integer","format":"int32","required":true,"x-nullable":false},{"name":"Limit","in":"query","description":"The maximum number of results to be returned. There may be less if the query returned less than the maximum.","type":"integer","format":"int32","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"title":"List<LotGridData>","type":"array","items":{"$ref":"#/definitions/LotGridData"}}},"500":{"description":"An internal error has occurred","schema":{"title":"List<LotGridData>","type":"array","items":{"$ref":"#/definitions/LotGridData"}}},"400":{"description":"Invalid value of offset or limit","schema":{"title":"List<LotGridData>","type":"array","items":{"$ref":"#/definitions/LotGridData"}}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/lots/{Id}":{"get":{"tags":[" Scope: Properties","Properties"],"summary":"Find a lot by id","description":"The auth token must contain a scope of property:read.","operationId":"LotRequestlotsId_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Id of the lot","type":"string","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Lot"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/Lot"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/lots/rentals":{"get":{"tags":[" Scope: Properties","Properties"],"summary":"List all rentals described as rentals","description":"The auth token must contain a scope of property:read.","operationId":"LotRentalsRequestlotsrentals_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Offset","in":"query","description":"The number of rows to skip before beginning to return rows. An offset of 0 is the same as omitting the offset parameter.","type":"integer","format":"int32","required":true,"x-nullable":false},{"name":"Limit","in":"query","description":"The maximum number of results to be returned. There may be less if the query returned less than the maximum.","type":"integer","format":"int32","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"title":"List<RentalLotQueryData>","type":"array","items":{"$ref":"#/definitions/RentalLotQueryData"}}},"500":{"description":"An internal error has occurred","schema":{"title":"List<RentalLotQueryData>","type":"array","items":{"$ref":"#/definitions/RentalLotQueryData"}}},"400":{"description":"Invalid value of offset or limit","schema":{"title":"List<RentalLotQueryData>","type":"array","items":{"$ref":"#/definitions/RentalLotQueryData"}}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/lots/vacancy":{"get":{"tags":[" Scope: Properties","Properties"],"summary":"List of all lots described as vacant","description":"The auth token must contain a scope of property:read.","operationId":"LotVacantSalesRequestlotsvacancy_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"RentalOnly","in":"query","description":"Rental only","type":"boolean","required":false},{"name":"Offset","in":"query","description":"The number of rows to skip before beginning to return rows. An offset of 0 is the same as omitting the offset parameter.","type":"integer","format":"int32","required":true,"x-nullable":false},{"name":"Limit","in":"query","description":"The maximum number of results to be returned. There may be less if the query returned less than the maximum.","type":"integer","format":"int32","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"title":"List<LotsQueryData>","type":"array","items":{"$ref":"#/definitions/LotsQueryData"}}},"500":{"description":"An internal error has occurred","schema":{"title":"List<LotsQueryData>","type":"array","items":{"$ref":"#/definitions/LotsQueryData"}}},"400":{"description":"Invalid value of offset or limit","schema":{"title":"List<LotsQueryData>","type":"array","items":{"$ref":"#/definitions/LotsQueryData"}}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/jobtasks/{Id}":{"get":{"tags":[" Scope: Activities","JobTasks"],"summary":"Find a job task by id","description":"The auth token must contain a scope of activity:read.","operationId":"JobTaskRequestjobtasksId_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Id of the job task","type":"string","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/JobTaskQueryData"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/JobTaskQueryData"}},"400":{"description":"Invalid id","schema":{"$ref":"#/definitions/JobTaskQueryData"}}},"deprecated":false,"security":[{"Bearer":[]}]},"post":{"tags":[" Scope: Activities","JobTasks"],"summary":"Update an existing job","description":"The auth token must contain a scope of activity:write.","operationId":"UpdateJobRequestjobtasksId_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Job Id","type":"string","required":true,"x-nullable":false},{"name":"LotId","in":"body","description":"lot Id","type":"string","required":true,"x-nullable":false},{"name":"DueDate","in":"body","description":"job due date","type":"string","format":"date-time","required":false},{"name":"Summary","in":"body","description":"job summary","type":"string","required":true},{"name":"Description","in":"body","description":"job description","type":"string","required":true},{"name":"Access","in":"body","description":"Job access types can be one of Owner, Agent and Tenant","type":"string","required":true,"x-nullable":false},{"name":"ManagerMemberId","in":"body","description":"job manager member id","type":"string","required":false},{"name":"TenantContactId","in":"body","description":"job tenant contact id","type":"string","required":false},{"name":"SupplierInstructions","in":"body","description":"supplier instructions","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/JobTaskResponse"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/JobTaskResponse"}},"400":{"description":"Invalid job request","schema":{"$ref":"#/definitions/JobTaskResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/jobtasks/search":{"get":{"tags":[" Scope: Activities","JobTasks"],"summary":"Search job task based on due date, created date and status","description":"The auth token must contain a scope of activity:read.","operationId":"SearchJobTaskRequestjobtaskssearch_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"DueDateMin","in":"query","description":"From Due Date (yyyy-MM-dd in UTC)","type":"string","format":"date-time","required":false},{"name":"DueDateMax","in":"query","description":"To Due Date (yyyy-MM-dd in UTC). Allowed date range is 10 days","type":"string","format":"date-time","required":false},{"name":"DateCreatedMin","in":"query","description":"From Created Date (yyyy-MM-dd in UTC)","type":"string","format":"date-time","required":false},{"name":"DateCreatedMax","in":"query","description":"To Created Date (yyyy-MM-dd in UTC). Allowed date range is 10 days","type":"string","format":"date-time","required":false},{"name":"Status","in":"query","description":"Job task status","type":"string","required":false},{"name":"Offset","in":"query","description":"The number of rows to skip before beginning to return rows. An offset of 0 is the same as omitting the offset parameter.","type":"integer","format":"int32","required":true,"x-nullable":false},{"name":"Limit","in":"query","description":"The maximum number of results to be returned(Max value is 100). There may be less if the query returned less than the maximum.","type":"integer","format":"int32","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"title":"List<JobQueryData>","type":"array","items":{"$ref":"#/definitions/JobQueryData"}}},"500":{"description":"An internal error has occurred","schema":{"title":"List<JobQueryData>","type":"array","items":{"$ref":"#/definitions/JobQueryData"}}},"400":{"description":"Invalid id","schema":{"title":"List<JobQueryData>","type":"array","items":{"$ref":"#/definitions/JobQueryData"}}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/inspections/{id}":{"post":{"tags":[" Scope: Activities","Inspections"],"summary":"Update an existing inspection","description":"The auth token must contain a scope of activity:write.","operationId":"UpdateInspectionRequestinspectionsid_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Inspection Id","type":"string","required":true,"x-nullable":false},{"name":"StartTime","in":"body","description":"Inspection start time","type":"string","format":"date-time","required":true,"x-nullable":false},{"name":"DueDate","in":"body","description":"Inspection due date","type":"string","format":"date-time","required":true,"x-nullable":false},{"name":"Duration","in":"body","description":"Inspection duration length","type":"integer","format":"int32","required":true,"x-nullable":false},{"name":"Summary","in":"body","description":"Inspection summary","type":"string","required":true},{"name":"Description","in":"body","description":"Inspection description","type":"string","required":true},{"name":"Type","in":"body","description":"Inspection type can be one of Routine, Entry, Exit and Open","type":"string","required":true,"x-nullable":false},{"name":"ManagerMemberId","in":"body","description":"Inspection manager member id","type":"string","required":false},{"name":"TenantContactId","in":"body","description":"Inspection tenant contact id","type":"string","required":false},{"name":"ListingId","in":"body","description":"listing id for open inspection","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ScheduleInspectionResponse"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/ScheduleInspectionResponse"}},"400":{"description":"Invalid inspection request","schema":{"$ref":"#/definitions/ScheduleInspectionResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"delete":{"tags":[" Scope: Activities","Inspections"],"summary":"Delete the inspection","description":"The auth token must contain a scope of activity:write.","operationId":"DeleteInspectionRequestinspectionsid_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Inspection Id","type":"string","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseBase"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/ResponseBase"}},"400":{"description":"Invalid inspection request","schema":{"$ref":"#/definitions/ResponseBase"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/inspections/{Id}":{"get":{"tags":[" Scope: Activities","Inspections"],"summary":"Find an inspection by id","description":"The auth token must contain a scope of activity:read.","operationId":"GetInspectionRequestinspectionsId_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"query","description":"Inspection Id","type":"string","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/GetInspectionResponse"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/GetInspectionResponse"}},"400":{"description":"Invalid inspection id","schema":{"$ref":"#/definitions/GetInspectionResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/inspections/search":{"get":{"tags":[" Scope: Activities","Inspections"],"summary":"Search all inspections by contact id and/or lot id","description":"The auth token must contain a scope of activity:read.","operationId":"SearchInspectionsRequestinspectionssearch_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ContactId","in":"query","description":"Id of the contact","type":"string","required":false},{"name":"LotId","in":"query","description":"Id of the property","type":"string","required":false},{"name":"Offset","in":"query","description":"The number of rows to skip before beginning to return rows. An offset of 0 is the same as omitting the offset parameter.","type":"integer","format":"int32","required":true,"x-nullable":false},{"name":"Limit","in":"query","description":"The maximum number of results to be returned. There may be less if the query returned less than the maximum.","type":"integer","format":"int32","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"title":"List<InspectionTask>","type":"array","items":{"$ref":"#/definitions/InspectionTask"}}},"500":{"description":"An internal error has occurred","schema":{"title":"List<InspectionTask>","type":"array","items":{"$ref":"#/definitions/InspectionTask"}}},"400":{"description":"Invalid contact and/or lot id(s)","schema":{"title":"List<InspectionTask>","type":"array","items":{"$ref":"#/definitions/InspectionTask"}}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/inspections/query":{"get":{"tags":[" Scope: Activities","Inspections"],"summary":"Query all inspections","description":"The auth token must contain a scope of activity:read.","operationId":"QueryInspectionRequestinspectionsquery_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"DueDateMin","in":"query","description":"From Due Date (yyyy-MM-dd)","type":"string","format":"date-time","required":false},{"name":"DueDateMax","in":"query","description":"To Due Date (yyyy-MM-dd)","type":"string","format":"date-time","required":false},{"name":"Type","in":"query","description":"Inspection type can be one of Routine, Entry, Exit and Open","type":"string","required":false},{"name":"Status","in":"query","description":"Inspection task status. Can be one of Planned, Scheduled, ReScheduled, Inspected, Closed, Cancelled","type":"string","required":false},{"name":"Published","in":"query","description":"Inspection is published. Can be Yes, No, empty","type":"string","required":false},{"name":"MemberOrTeam","in":"query","description":"Inspection property member or team Id(Guid)","type":"string","required":false},{"name":"TaskMemberOrTeam","in":"query","description":"Inspection task member or team Id(Guid)","type":"string","required":false},{"name":"Label","in":"query","description":"Inspection task label","type":"string","required":false},{"name":"Offset","in":"query","description":"The number of rows to skip before beginning to return rows. An offset of 0 is the same as omitting the offset parameter.","type":"integer","format":"int32","required":true,"x-nullable":false},{"name":"Limit","in":"query","description":"The maximum number of results to be returned. There may be less if the query returned less than the maximum.","type":"integer","format":"int32","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"title":"List<InspectionDataTableRow>","type":"array","items":{"$ref":"#/definitions/InspectionDataTableRow"}}},"500":{"description":"An internal error has occurred","schema":{"title":"List<InspectionDataTableRow>","type":"array","items":{"$ref":"#/definitions/InspectionDataTableRow"}}},"400":{"description":"Invalid status","schema":{"title":"List<InspectionDataTableRow>","type":"array","items":{"$ref":"#/definitions/InspectionDataTableRow"}}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/contacts/agency":{"get":{"tags":[" Scope: Contacts","Contacts"],"summary":"Returns an agency contact","description":"The auth token must contain a scope of contact:read.","operationId":"AgencyRequestcontactsagency_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/GetAgencyResponse"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/GetAgencyResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/contacts/{Id}":{"get":{"tags":[" Scope: Contacts","Contacts"],"summary":"Find a contact by Id","description":"The auth token must contain a scope of contact:read.","operationId":"ContactRequestcontactsId_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Id of the contact","type":"string","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/GetContactResponse"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/GetContactResponse"}},"400":{"description":"Invalid id","schema":{"$ref":"#/definitions/GetContactResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/contacts/ownerships":{"get":{"tags":[" Scope: Contacts","Contacts"],"summary":"List of all owners in relation to the contact","description":"The auth token must contain a scope of contact:read.","operationId":"ContactOwnershipsRequestcontactsownerships_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Offset","in":"query","description":"The number of rows to skip before beginning to return rows. An offset of 0 is the same as omitting the offset parameter.","type":"integer","format":"int32","required":true,"x-nullable":false},{"name":"Limit","in":"query","description":"The maximum number of results to be returned. There may be less if the query returned less than the maximum.","type":"integer","format":"int32","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"title":"List<OwnerQueryData>","type":"array","items":{"$ref":"#/definitions/OwnerQueryData"}}},"500":{"description":"An internal error has occurred","schema":{"title":"List<OwnerQueryData>","type":"array","items":{"$ref":"#/definitions/OwnerQueryData"}}},"400":{"description":"Invalid value of offset or limit","schema":{"title":"List<OwnerQueryData>","type":"array","items":{"$ref":"#/definitions/OwnerQueryData"}}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/contacts/suppliers":{"get":{"tags":[" Scope: Contacts","Contacts"],"summary":"List of all suppliers in relation to the contact","description":"The auth token must contain a scope of contact:read.","operationId":"QuerySuppliersRequestcontactssuppliers_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Offset","in":"query","description":"The number of rows to skip before beginning to return rows. An offset of 0 is the same as omitting the offset parameter.","type":"integer","format":"int32","required":true,"x-nullable":false},{"name":"Limit","in":"query","description":"The maximum number of results to be returned. There may be less if the query returned less than the maximum.","type":"integer","format":"int32","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"title":"List<QuerySuppliersResponse>","type":"array","items":{"$ref":"#/definitions/QuerySuppliersResponse"}}},"202":{"description":"Success","schema":{"title":"List<QuerySuppliersResponse>","type":"array","items":{"$ref":"#/definitions/QuerySuppliersResponse"}}},"400":{"description":"Invalid value of offset or limit","schema":{"title":"List<QuerySuppliersResponse>","type":"array","items":{"$ref":"#/definitions/QuerySuppliersResponse"}}},"500":{"description":"An internal error has occurred","schema":{"title":"List<QuerySuppliersResponse>","type":"array","items":{"$ref":"#/definitions/QuerySuppliersResponse"}}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/contacts/tenants":{"get":{"tags":[" Scope: Contacts","Contacts"],"summary":"List of all tenants in relation to the contact","description":"The auth token must contain a scope of contact:read.","operationId":"ContactTenantsRequestcontactstenants_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Offset","in":"query","description":"The number of rows to skip before beginning to return rows. An offset of 0 is the same as omitting the offset parameter.","type":"integer","format":"int32","required":true,"x-nullable":false},{"name":"Limit","in":"query","description":"The maximum number of results to be returned. There may be less if the query returned less than the maximum.","type":"integer","format":"int32","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"title":"List<ContactGridData>","type":"array","items":{"$ref":"#/definitions/ContactGridData"}}},"500":{"description":"An internal error has occurred","schema":{"title":"List<ContactGridData>","type":"array","items":{"$ref":"#/definitions/ContactGridData"}}},"400":{"description":"Invalid value of offset or limit","schema":{"title":"List<ContactGridData>","type":"array","items":{"$ref":"#/definitions/ContactGridData"}}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/tenancies/balances/{id}":{"get":{"tags":[" Scope: Properties","Tenancies"],"summary":"Find a tenancy balance record by Id","description":"The auth token must contain a scope of property:read.","operationId":"SingleTenancyBalanceRequesttenanciesbalancesid_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Id of the tenancy balance record","type":"string","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/TenancyBalanceData"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/TenancyBalanceData"}},"400":{"description":"Invalid Id)","schema":{"$ref":"#/definitions/TenancyBalanceData"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/tasks/{Id}/comments":{"post":{"tags":[" Scope: Activities","Tasks"],"summary":"Create a new comment for a given task","description":"The auth token must contain a scope of activity:write.","operationId":"AddTaskCommentRequesttasksIdcomments_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"The id of the task","type":"string","required":true,"x-nullable":false},{"name":"Comment","in":"body","description":"comment","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseBase"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/ResponseBase"}},"400":{"description":"Invalid task id","schema":{"$ref":"#/definitions/ResponseBase"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/tasks/{Id}/documents":{"post":{"tags":[" Scope: Activities","Documents"],"summary":"Create a new document for a given task","description":"The auth token must contain a scope of Activity:write.","operationId":"AddTaskDocumentRequesttasksIddocuments_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Id of the task","type":"string","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/AddTaskDocumentRequest"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseBase"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/ResponseBase"}},"400":{"description":"Invalid task id","schema":{"$ref":"#/definitions/ResponseBase"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/tasks/{Id}/images":{"get":{"tags":[" Scope: Activities","Images"],"summary":"List all images for a given task","description":"The auth token must contain a scope of activity:read.","operationId":"GetTaskImagestasksIdimages_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Id of the task","type":"string","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"title":"List<QueryDocumentData>","type":"array","items":{"$ref":"#/definitions/QueryDocumentData"}}},"500":{"description":"An internal error has occurred","schema":{"title":"List<QueryDocumentData>","type":"array","items":{"$ref":"#/definitions/QueryDocumentData"}}},"400":{"description":"Invalid task id","schema":{"title":"List<QueryDocumentData>","type":"array","items":{"$ref":"#/definitions/QueryDocumentData"}}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/tasks/{Id}/members":{"get":{"tags":[" Scope: Activities"],"summary":"Find a Task manager by task id","description":"The auth token must contain a scope of activity:read.","operationId":"GetTaskManagerRequesttasksIdmembers_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"query","description":"The id of the task","type":"string","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CustomerMemberData"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/CustomerMemberData"}},"400":{"description":"Invalid task id","schema":{"$ref":"#/definitions/CustomerMemberData"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/lots/{Id}/comments":{"post":{"tags":[" Scope: Properties","Properties","Comments"],"summary":"Create a new comment for a given lot","description":"The auth token must contain a scope of property:write.","operationId":"AddLotCommentRequestlotsIdcomments_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"query","description":"The id of the lot","type":"string","required":true,"x-nullable":false},{"name":"Comment","in":"body","description":"comment","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseBase"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/ResponseBase"}},"400":{"description":"Invalid lot id","schema":{"$ref":"#/definitions/ResponseBase"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/lots/{Id}/documents":{"post":{"tags":[" Scope: Properties","Properties","Documents"],"summary":"Create a new document for a given lot","description":"The auth token must contain a scope of property:write.","operationId":"AddLotDocumentRequestlotsIddocuments_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Id of the lot","type":"string","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/AddLotDocumentRequest"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseBase"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/ResponseBase"}},"400":{"description":"Invalid lot id","schema":{"$ref":"#/definitions/ResponseBase"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/lots/{Id}/images":{"get":{"tags":[" Scope: Properties","Images"],"summary":"List all images for a given lot","description":"The auth token must contain a scope of property:read.","operationId":"GetLotImageslotsIdimages_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Id of the lot","type":"string","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"title":"List<QueryDocumentData>","type":"array","items":{"$ref":"#/definitions/QueryDocumentData"}}},"500":{"description":"An internal error has occurred","schema":{"title":"List<QueryDocumentData>","type":"array","items":{"$ref":"#/definitions/QueryDocumentData"}}},"400":{"description":"Invalid lot id","schema":{"title":"List<QueryDocumentData>","type":"array","items":{"$ref":"#/definitions/QueryDocumentData"}}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/lots/{Id}/detail":{"get":{"tags":[" Scope: Properties","Properties"],"summary":"Find a lot by id","description":"The auth token must contain a scope of property:read.","operationId":"LotDetailRequestlotsIddetail_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Id of the lot","type":"string","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/LotDetailApiResponse"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/LotDetailApiResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/lots/{Id}/members":{"get":{"tags":[" Scope: Properties","Members","Properties"],"summary":"Find a lot manager by lot id","description":"The auth token must contain a scope of property:read.","operationId":"LotManagerRequestlotsIdmembers_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Id of the lot","type":"string","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CustomerMemberData"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/CustomerMemberData"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/jobtasks/{Id}/assign":{"post":{"tags":[" Scope: Activities","JobTasks","Documents"],"summary":"Update the supplier of a job","description":"The auth token must contain a scope of Activity:write.","operationId":"AssignTaskRequestjobtasksIdassign_Post","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Id of the job","type":"string","required":true,"x-nullable":false},{"name":"SupplierContactId","in":"formData","description":"Id of the supplier","type":"string","required":false},{"name":"OwnerAttending","in":"formData","description":"Is Owner attending","type":"boolean","required":false},{"name":"TenantAttending","in":"formData","description":"Is Tenant attending","type":"boolean","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/AssignTaskRequest"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/JobTaskResponse"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/JobTaskResponse"}},"400":{"description":"Invalid job id","schema":{"$ref":"#/definitions/JobTaskResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/jobtasks/{Id}/comments":{"post":{"tags":[" Scope: Activities","JobTasks","Comments"],"summary":"Create a new comment for a given job","description":"The auth token must contain a scope of activity:write.","operationId":"AddJobCommentRequestjobtasksIdcomments_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"The id of the job","type":"string","required":true,"x-nullable":false},{"name":"Comment","in":"body","description":"comment","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseBase"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/ResponseBase"}},"400":{"description":"Invalid job id","schema":{"$ref":"#/definitions/ResponseBase"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/jobtasks/{Id}/documents":{"get":{"tags":[" Scope: Activities","JobTasks","Images"],"summary":"List all documents for a given job","description":"The auth token must contain a scope of activity:read.","operationId":"GetJobDocumentsjobtasksIddocuments_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Id of the job","type":"string","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"title":"List<QueryDocumentData>","type":"array","items":{"$ref":"#/definitions/QueryDocumentData"}}},"500":{"description":"An internal error has occurred","schema":{"title":"List<QueryDocumentData>","type":"array","items":{"$ref":"#/definitions/QueryDocumentData"}}},"400":{"description":"Invalid job id","schema":{"title":"List<QueryDocumentData>","type":"array","items":{"$ref":"#/definitions/QueryDocumentData"}}}},"deprecated":false,"security":[{"Bearer":[]}]},"post":{"tags":[" Scope: Activities","JobTasks","Documents"],"summary":"Create a new document for a given job","description":"The auth token must contain a scope of Activity:write.","operationId":"AddJobDocumentsRequestjobtasksIddocuments_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Id of the job","type":"string","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/AddJobDocumentsRequest"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseBase"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/ResponseBase"}},"400":{"description":"Invalid job id","schema":{"$ref":"#/definitions/ResponseBase"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/jobtasks/{Id}/images":{"get":{"tags":[" Scope: Activities","JobTasks","Images"],"summary":"List all images for a given job","description":"The auth token must contain a scope of activity:read.","operationId":"GetJobImagesjobtasksIdimages_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Id of the job","type":"string","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"title":"List<QueryDocumentData>","type":"array","items":{"$ref":"#/definitions/QueryDocumentData"}}},"500":{"description":"An internal error has occurred","schema":{"title":"List<QueryDocumentData>","type":"array","items":{"$ref":"#/definitions/QueryDocumentData"}}},"400":{"description":"Invalid job id","schema":{"title":"List<QueryDocumentData>","type":"array","items":{"$ref":"#/definitions/QueryDocumentData"}}}},"deprecated":false,"security":[{"Bearer":[]}]},"post":{"tags":[" Scope: Activities","JobTasks","Documents"],"summary":"Create a new image for a given job","description":"The auth token must contain a scope of Activity:write.","operationId":"AddJobImagesRequestjobtasksIdimages_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Id of the job","type":"string","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/AddJobImagesRequest"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseBase"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/ResponseBase"}},"400":{"description":"Invalid job id","schema":{"$ref":"#/definitions/ResponseBase"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/jobtasks/{Id}/members":{"get":{"tags":[" Scope: Activities","JobTasks"],"summary":"Find a job task manager by job id","description":"The auth token must contain a scope of activity:read.","operationId":"JobTaskManagerRequestjobtasksIdmembers_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Id of the job task","type":"string","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CustomerMemberData"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/CustomerMemberData"}},"400":{"description":"Invalid id","schema":{"$ref":"#/definitions/CustomerMemberData"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/jobtasks/{Id}/quotation":{"post":{"tags":[" Scope: Activities","JobTasks"],"summary":"Create a new quotation for the job task","description":"The auth token must contain a scope of activity:write.","operationId":"AddJobTasksQuotationRequestjobtasksIdquotation_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Id of the job","type":"string","required":true,"x-nullable":false},{"name":"Reference","in":"body","description":"Reference","type":"string","required":true},{"name":"SupplierContactId","in":"body","description":"Supplier Contact Id","type":"string","required":true,"x-nullable":false},{"name":"Amount","in":"body","description":"Amount","type":"number","format":"double","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/JobTaskQuoteResponse"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/JobTaskQuoteResponse"}},"400":{"description":"Invalid job request","schema":{"$ref":"#/definitions/JobTaskQuoteResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/jobtasks/{Id}/quotations":{"get":{"tags":[" Scope: Activities","JobTasks"],"summary":"List all the quotation for a job task","description":"The auth token must contain a scope of activity:read.","operationId":"GetJobTasksQuotationRequestjobtasksIdquotations_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Id of the job","type":"string","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/JobTaskQuoteData"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/JobTaskQuoteData"}},"400":{"description":"Invalid timestamp value","schema":{"$ref":"#/definitions/JobTaskQuoteData"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/jobtasks/{Id}/approve":{"post":{"tags":[" Scope: Activities","JobTasks","Documents"],"summary":"Update the job task status to Approved","description":"The auth token must contain a scope of Activity:write.","operationId":"ApproveJobTaskRequestjobtasksIdapprove_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Id of the job","type":"string","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/ApproveJobTaskRequest"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/JobTaskResponse"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/JobTaskResponse"}},"400":{"description":"Invalid job id","schema":{"$ref":"#/definitions/JobTaskResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/jobtasks/{Id}/complete":{"post":{"tags":[" Scope: Activities","JobTasks","Documents"],"summary":"Update the job task status to Complete","description":"The auth token must contain a scope of Activity:write.","operationId":"CompleteJobTaskRequestjobtasksIdcomplete_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Id of the job","type":"string","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/CompleteJobTaskRequest"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/JobTaskResponse"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/JobTaskResponse"}},"400":{"description":"Invalid job id","schema":{"$ref":"#/definitions/JobTaskResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/jobtasks/{Id}/reject":{"post":{"tags":[" Scope: Activities","JobTasks","Documents"],"summary":"Update the job task status to Rejected","description":"The auth token must contain a scope of Activity:write.","operationId":"RejectJobTaskRequestjobtasksIdreject_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Id of the job","type":"string","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/RejectJobTaskRequest"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/JobTaskResponse"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/JobTaskResponse"}},"400":{"description":"Invalid job id","schema":{"$ref":"#/definitions/JobTaskResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/jobtasks/{Id}/reopen":{"post":{"tags":[" Scope: Activities","JobTasks","Documents"],"summary":"Update the job task status to Reopened","description":"The auth token must contain a scope of Activity:write.","operationId":"ReopenJobTaskRequestjobtasksIdreopen_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Id of the job","type":"string","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/ReopenJobTaskRequest"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/JobTaskResponse"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/JobTaskResponse"}},"400":{"description":"Invalid job id","schema":{"$ref":"#/definitions/JobTaskResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/inspections/{id}/close":{"post":{"tags":[" Scope: Activities","Inspections"],"summary":"Close the inspection","description":"The auth token must contain a scope of activity:write.","operationId":"CloseInspectionRequestinspectionsidclose_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Inspection Id","type":"string","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/CloseInspectionRequest"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseBase"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/ResponseBase"}},"400":{"description":"Invalid inspection request","schema":{"$ref":"#/definitions/ResponseBase"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/inspections/{Id}/comments":{"post":{"tags":[" Scope: Activities","Inspections","Comments"],"summary":"Create a new comment for a given inspection","description":"The auth token must contain a scope of activity:write.","operationId":"AddInspectionCommentRequestinspectionsIdcomments_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"The id of the inspection","type":"string","required":true,"x-nullable":false},{"name":"Comment","in":"body","description":"comment","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseBase"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/ResponseBase"}},"400":{"description":"Invalid inspection id","schema":{"$ref":"#/definitions/ResponseBase"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/inspections/{Id}/documents":{"post":{"tags":[" Scope: Activities","Inspections","Documents"],"summary":"Create a new document for a given inspection","description":"The auth token must contain a scope of Activity:write.","operationId":"AddInspectionDocumentRequestinspectionsIddocuments_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Id of the inspection","type":"string","required":true,"x-nullable":false},{"name":"IsClientVisible","in":"query","description":"Visible on the owner portal","type":"boolean","required":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/AddInspectionDocumentRequest"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseBase"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/ResponseBase"}},"400":{"description":"Invalid inspection id","schema":{"$ref":"#/definitions/ResponseBase"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/inspections/{Id}/images":{"get":{"tags":[" Scope: Activities","Inspections","Images"],"summary":"List all images for a given inspection","description":"The auth token must contain a scope of activity:read.","operationId":"GetInspectionsImagesinspectionsIdimages_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Id of the inspection","type":"string","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"title":"List<QueryDocumentData>","type":"array","items":{"$ref":"#/definitions/QueryDocumentData"}}},"500":{"description":"An internal error has occurred","schema":{"title":"List<QueryDocumentData>","type":"array","items":{"$ref":"#/definitions/QueryDocumentData"}}},"400":{"description":"Invalid inspection id","schema":{"title":"List<QueryDocumentData>","type":"array","items":{"$ref":"#/definitions/QueryDocumentData"}}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/inspections/{id}/inspect":{"post":{"tags":[" Scope: Activities","Inspections"],"summary":"Inspect the inspection","description":"The auth token must contain a scope of activity:write.","operationId":"InspectInspectionRequestinspectionsidinspect_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Inspection Id","type":"string","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/InspectInspectionRequest"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseBase"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/ResponseBase"}},"400":{"description":"Invalid inspection request","schema":{"$ref":"#/definitions/ResponseBase"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/inspections/status/{Status}":{"get":{"tags":[" Scope: Activities","Inspections"],"summary":"List all inspections","description":"The auth token must contain a scope of activity:read.","operationId":"GetInspectionsRequestinspectionsstatusStatus_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Status","in":"path","description":"Inspection task status. Can be one of Planned, Scheduled, ReScheduled, Inspected, Closed, Cancelled","type":"string","required":true},{"name":"Offset","in":"query","description":"The number of rows to skip before beginning to return rows. An offset of 0 is the same as omitting the offset parameter.","type":"integer","format":"int32","required":true,"x-nullable":false},{"name":"Limit","in":"query","description":"The maximum number of results to be returned. There may be less if the query returned less than the maximum.","type":"integer","format":"int32","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"title":"List<InspectionDataTableRow>","type":"array","items":{"$ref":"#/definitions/InspectionDataTableRow"}}},"500":{"description":"An internal error has occurred","schema":{"title":"List<InspectionDataTableRow>","type":"array","items":{"$ref":"#/definitions/InspectionDataTableRow"}}},"400":{"description":"Invalid status","schema":{"title":"List<InspectionDataTableRow>","type":"array","items":{"$ref":"#/definitions/InspectionDataTableRow"}}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/inspections/Members/{Id}":{"get":{"tags":[" Scope: Activities","Inspections"],"summary":"Find an inspection manager by id","description":"The auth token must contain a scope of activity:read.","operationId":"GetInspectionManagerRequestinspectionsMembersId_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"query","description":"Inspection Id","type":"string","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CustomerMemberData"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/CustomerMemberData"}},"400":{"description":"Invalid inspection id","schema":{"$ref":"#/definitions/CustomerMemberData"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/inspections/{id}/reopen":{"post":{"tags":[" Scope: Activities","Inspections"],"summary":"Reopen the closed inspection","description":"The auth token must contain a scope of activity:write.","operationId":"ReopenInspectionRequestinspectionsidreopen_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Inspection Id","type":"string","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/ReopenInspectionRequest"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseBase"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/ResponseBase"}},"400":{"description":"Invalid inspection request","schema":{"$ref":"#/definitions/ResponseBase"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/inspections/{id}/reschedule":{"post":{"tags":[" Scope: Activities","Inspections"],"summary":"Reschedule the inspection","description":"The auth token must contain a scope of activity:write.","operationId":"RescheduleInspectionRequestinspectionsidreschedule_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Inspection Id","type":"string","required":true,"x-nullable":false},{"name":"StartTime","in":"body","description":"Inspection start time","type":"string","format":"date-time","required":true,"x-nullable":false},{"name":"Duration","in":"body","description":"Inspection duration length","type":"integer","format":"int32","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseBase"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/ResponseBase"}},"400":{"description":"Invalid inspection request","schema":{"$ref":"#/definitions/ResponseBase"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/inspections/{id}/schedule":{"post":{"tags":[" Scope: Activities","Inspections"],"summary":"Change the inspection status to scheduled","description":"The auth token must contain a scope of activity:write.","operationId":"ScheduleInspectionRequestinspectionsidschedule_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Inspection Id","type":"string","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/ScheduleInspectionRequest"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseBase"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/ResponseBase"}},"400":{"description":"Invalid inspection request","schema":{"$ref":"#/definitions/ResponseBase"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/inspections/reports/{Id}":{"get":{"tags":[" Scope: Activities","Inspections"],"summary":"Find an inspection report by id","description":"The auth token must contain a scope of activity:read.","operationId":"GetInspectionReportRequestinspectionsreportsId_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"query","description":"Inspection report Id","type":"string","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/GetReportDetailedResponse"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/GetReportDetailedResponse"}},"400":{"description":"Invalid inspection id","schema":{"$ref":"#/definitions/GetReportDetailedResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/inspections/{Id}/report":{"put":{"tags":[" Scope: Activities","Inspections"],"summary":"Update an existing inspection report","description":"The auth token must contain a scope of activity:write.","operationId":"UpdateInspectionReportRequestinspectionsIdreport_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Inspection Task Id of this report","type":"string","required":true,"x-nullable":false},{"name":"InspectionReportId","in":"body","description":"Inspection Report Id of this report","type":"string","required":false,"x-nullable":false},{"name":"CreatedOn","in":"body","description":"Inspection report created UTC time","type":"string","format":"date-time","required":false},{"name":"RentReview","in":"body","description":"Inspection report overview Rent review amount","type":"number","format":"double","required":false},{"name":"WaterMeter","in":"body","description":"Inspection report overview Water meter reading","type":"integer","format":"int64","required":false},{"name":"ShareWithOwner","in":"body","description":"Inspection report overview Share with owner","type":"boolean","required":false},{"name":"ShareWithTenant","in":"body","description":"Inspection report overview Share with tenant","type":"boolean","required":false,"x-nullable":false},{"name":"GeneralNotes","in":"body","description":"Inspection report overview General notes","type":"string","required":false},{"name":"FollowUpActions","in":"body","description":"Inspection report overview Follow up actions","type":"array","items":{"type":"string"},"collectionFormat":"multi","required":false},{"name":"OldReportIdToBeReplaced","in":"body","description":"The old Report Id to be replaced, the old report will be deleted","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseBase"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/ResponseBase"}},"400":{"description":"Invalid inspection request","schema":{"$ref":"#/definitions/ResponseBase"}}},"deprecated":false,"security":[{"Bearer":[]}]},"post":{"tags":[" Scope: Activities","Inspections"],"summary":"Create a new inspection report","description":"The auth token must contain a scope of activity:write.","operationId":"CreateInspectionReportRequestinspectionsIdreport_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Inspection Task Id that this report is created for","type":"string","required":true,"x-nullable":false},{"name":"InspectionReportTemplateId","in":"body","description":"Specify the template to use for this report","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/InspectionReportResponse"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/InspectionReportResponse"}},"400":{"description":"Invalid inspection request","schema":{"$ref":"#/definitions/InspectionReportResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/dashboards/activities/{Type}":{"get":{"tags":[" Scope: Activities","Dashboards"],"summary":"List dashboard activities by a given type","description":"The auth token must contain a scope of communication:read.","operationId":"ActivityDashboardRequestdashboardsactivitiesType_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Type","in":"path","description":"The available dashboard type: Jobs, Inspections, InspectionPlanning, Tasks","type":"string","required":true}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/DashboardResponse"}},"502":{"description":"Dashboard type is not supplied","schema":{"$ref":"#/definitions/DashboardResponse"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/DashboardResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/dashboards/communications/{Type}":{"get":{"tags":[" Scope: Messages","Dashboards"],"summary":"Get communication dashboard item by type","description":"The auth token must contain a scope of activity:read.","operationId":"CommunicationDashboardRequestdashboardscommunicationsType_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Type","in":"path","description":"The available dashboard type: Messages","type":"string","required":true}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/DashboardResponse"}},"502":{"description":"Dashboard type is not supplied","schema":{"$ref":"#/definitions/DashboardResponse"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/DashboardResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/dashboards/lots/{Type}":{"get":{"tags":[" Scope: Properties","Dashboards"],"summary":"Get dashboard item by type","description":"The auth token must contain a scope of property:read.","operationId":"LotDashboardRequestdashboardslotsType_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Type","in":"path","description":"The available dashboard type: AllProperties, Vacancies","type":"string","required":true}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/DashboardResponse"}},"502":{"description":"Dashboard type is not supplied","schema":{"$ref":"#/definitions/DashboardResponse"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/DashboardResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/dashboards/transactions/{Type}":{"get":{"tags":[" Scope: Bills","Dashboards"],"summary":"Get activity dashboard item by type","description":"The auth token must contain a scope of transaction:read.","operationId":"TransactionDashboardRequestdashboardstransactionsType_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Type","in":"path","description":"The available dashboard type: Disbursements, RentArrears, Banking, Withdrawals, Reconciliation, UnprocessedBankTransactions, Bills, RentInvoicing, RentReviews","type":"string","required":true}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/DashboardResponse"}},"502":{"description":"Dashboard type is not supplied","schema":{"$ref":"#/definitions/DashboardResponse"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/DashboardResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/contacts/{Id}/comments":{"post":{"tags":[" Scope: Contacts","Contacts","Comments"],"summary":"Create a new comment for a given contact","description":"The auth token must contain a scope of contact:write.","operationId":"AddContactCommentRequestcontactsIdcomments_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"The id of the contact","type":"string","required":true,"x-nullable":false},{"name":"Comment","in":"body","description":"comment","type":"string","required":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseBase"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/ResponseBase"}},"400":{"description":"Invalid contact id","schema":{"$ref":"#/definitions/ResponseBase"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/contacts/{Id}/documents":{"post":{"tags":[" Scope: Contacts","Documents","Contacts"],"summary":"Create a new document for a given contact","description":"The auth token must contain a scope of contact:write.","operationId":"AddContactDocumentRequestcontactsIddocuments_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Id of the contact","type":"string","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/AddContactDocumentRequest"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseBase"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/ResponseBase"}},"400":{"description":"Invalid contact id","schema":{"$ref":"#/definitions/ResponseBase"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/contacts/{Id}/images":{"get":{"tags":[" Scope: Contacts","Images"],"summary":"List all images for a given contact","description":"The auth token must contain a scope of contact:read.","operationId":"GetContactImagescontactsIdimages_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Id of the contact","type":"string","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"title":"List<QueryDocumentData>","type":"array","items":{"$ref":"#/definitions/QueryDocumentData"}}},"500":{"description":"An internal error has occurred","schema":{"title":"List<QueryDocumentData>","type":"array","items":{"$ref":"#/definitions/QueryDocumentData"}}},"400":{"description":"Invalid contact id","schema":{"title":"List<QueryDocumentData>","type":"array","items":{"$ref":"#/definitions/QueryDocumentData"}}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/lots/{Id}/folio/documents":{"post":{"tags":[" Scope: Properties","Properties","Documents"],"summary":"Create a new document for a given owner or tenant","description":"The auth token must contain a scope of property:write.","operationId":"AddLotFolioDocumentRequestlotsIdfoliodocuments_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Id of the lot","type":"string","required":true,"x-nullable":false},{"name":"FolioId","in":"body","description":"Id of the owner or tenant folio","type":"string","required":true,"x-nullable":false},{"name":"IsClientVisible","in":"body","description":"Visible on the portal","type":"boolean","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseBase"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/ResponseBase"}},"400":{"description":"Invalid lot id or folio id","schema":{"$ref":"#/definitions/ResponseBase"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/jobtasks/{Id}/quotation/{QuoteId}":{"post":{"tags":[" Scope: Activities","JobTasks"],"summary":"Update an existing quotation for the job task","description":"The auth token must contain a scope of activity:write.","operationId":"UpdateJobTasksQuotationRequestjobtasksIdquotationQuoteId_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Job Id","type":"string","required":true,"x-nullable":false},{"name":"QuoteId","in":"path","description":"Quotation Id","type":"string","required":true,"x-nullable":false},{"name":"Reference","in":"body","description":"Reference","type":"string","required":true},{"name":"SupplierContactId","in":"body","description":"Supplier Contact Id","type":"string","required":true,"x-nullable":false},{"name":"Amount","in":"body","description":"Amount","type":"number","format":"double","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/JobTaskQuoteResponse"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/JobTaskQuoteResponse"}},"400":{"description":"Invalid job request","schema":{"$ref":"#/definitions/JobTaskQuoteResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/contacts/{Id}/alerts/{Type}":{"get":{"tags":[" Scope: Contacts","Contacts"],"summary":"List of all Contact alerts for a given contact and filtered by contact alert type","description":"The auth token must contain a scope of contact:read.","operationId":"GetContactAlertsRequestcontactsIdalertsType_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Id of the contact","type":"string","required":true,"x-nullable":false},{"name":"Type","in":"path","description":"Contact alert type. Can be one of Property, Job and Inspection","type":"string","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"title":"List<ContactAlert>","type":"array","items":{"$ref":"#/definitions/ContactAlert"}}},"500":{"description":"An internal error has occurred","schema":{"title":"List<ContactAlert>","type":"array","items":{"$ref":"#/definitions/ContactAlert"}}},"400":{"description":"Invalid contact id or contact alert type","schema":{"title":"List<ContactAlert>","type":"array","items":{"$ref":"#/definitions/ContactAlert"}}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/lots/{Id}/alerts/{Type}":{"get":{"tags":[" Scope: Properties","Properties"],"summary":"List all contact alerts for a given lot by contact alert type","description":"The auth token must contain a scope of property:read.","operationId":"GetContactAlertsRequestlotsIdalertsType_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Id of the contact","type":"string","required":true,"x-nullable":false},{"name":"Type","in":"path","description":"Contact alert type can be one of Property, Job and Inspection","type":"string","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"title":"List<ContactAlert>","type":"array","items":{"$ref":"#/definitions/ContactAlert"}}},"500":{"description":"An internal error has occurred","schema":{"title":"List<ContactAlert>","type":"array","items":{"$ref":"#/definitions/ContactAlert"}}},"400":{"description":"Invalid lot id or contact alert type","schema":{"title":"List<ContactAlert>","type":"array","items":{"$ref":"#/definitions/ContactAlert"}}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v2/jobtasks/{Id}":{"get":{"tags":[" Scope: Activities","JobTasks"],"summary":"Find a job task by id","description":"The auth token must contain a scope of activity:read.","operationId":"JobTaskV2RequestjobtasksId_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Id of the job task","type":"string","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/JobTaskV2QueryData"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/JobTaskV2QueryData"}},"400":{"description":"Invalid id","schema":{"$ref":"#/definitions/JobTaskV2QueryData"}}},"deprecated":false,"security":[{"Bearer":[]}]},"post":{"tags":[" Scope: Activities","JobTasks"],"summary":"Update an existing job","description":"The auth token must contain a scope of activity:write.","operationId":"UpdateJobV2RequestjobtasksId_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Job Id","type":"string","required":true,"x-nullable":false},{"name":"LotId","in":"body","description":"lot Id","type":"string","required":true,"x-nullable":false},{"name":"DueDate","in":"body","description":"job due date","type":"string","format":"date-time","required":false},{"name":"Summary","in":"body","description":"job summary","type":"string","required":true},{"name":"Description","in":"body","description":"job description","type":"string","required":true},{"name":"Access","in":"body","description":"Job access types can be one of Owner, Agent and Tenant","type":"string","required":true,"enum":["Agent","Owner","Tenant"]},{"name":"ManagerMemberId","in":"body","description":"job manager member id","type":"string","required":false},{"name":"TenantContactId","in":"body","description":"job tenant contact id","type":"string","required":false},{"name":"SupplierInstructions","in":"body","description":"supplier instructions","type":"string","required":false},{"name":"Priority","in":"body","description":"job priority","type":"string","required":false,"enum":["Low","Medium","High","Urgent"]}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/JobTaskResponse"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/JobTaskResponse"}},"400":{"description":"Invalid job request","schema":{"$ref":"#/definitions/JobTaskResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v2/jobtasks/search":{"get":{"tags":[" Scope: Activities","JobTasks"],"summary":"Search job task based on due date, created date and status","description":"The auth token must contain a scope of activity:read.","operationId":"SearchJobTaskV2Requestjobtaskssearch_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"DueDateMin","in":"query","description":"From Due Date (yyyy-MM-dd in UTC)","type":"string","format":"date-time","required":false},{"name":"DueDateMax","in":"query","description":"To Due Date (yyyy-MM-dd in UTC). Allowed date range is 10 days","type":"string","format":"date-time","required":false},{"name":"DateCreatedMin","in":"query","description":"From Created Date (yyyy-MM-dd in UTC)","type":"string","format":"date-time","required":false},{"name":"DateCreatedMax","in":"query","description":"To Created Date (yyyy-MM-dd in UTC). Allowed date range is 10 days","type":"string","format":"date-time","required":false},{"name":"Status","in":"query","description":"Job task status","type":"string","required":false,"enum":["Pending","Reported","Quoted","Approved","Assigned","Finished","Closed","Rejected","Completed","Cancelled"]},{"name":"Offset","in":"query","description":"The number of rows to skip before beginning to return rows. An offset of 0 is the same as omitting the offset parameter.","type":"integer","format":"int32","required":true,"x-nullable":false},{"name":"Limit","in":"query","description":"The maximum number of results to be returned(Max value is 100). There may be less if the query returned less than the maximum.","type":"integer","format":"int32","required":true,"x-nullable":false},{"name":"Priority","in":"query","description":"Job priority","type":"string","required":false,"enum":["Low","Medium","High","Urgent"]}],"responses":{"200":{"description":"Success","schema":{"title":"List<JobQueryV2Data>","type":"array","items":{"$ref":"#/definitions/JobQueryV2Data"}}},"500":{"description":"An internal error has occurred","schema":{"title":"List<JobQueryV2Data>","type":"array","items":{"$ref":"#/definitions/JobQueryV2Data"}}},"400":{"description":"Invalid id","schema":{"title":"List<JobQueryV2Data>","type":"array","items":{"$ref":"#/definitions/JobQueryV2Data"}}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v2/jobtasks":{"get":{"tags":[" Scope: Activities","JobTasks"],"summary":"List all job tasks changed since a given timestamp","description":"The auth token must contain a scope of activity:read.","operationId":"ChangedJobTaskV2Requestjobtasks_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Timestamp","in":"query","description":"Records returned will have a changed timestamp greater than this value","type":"integer","format":"int64","required":true,"x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"title":"List<IntegratorJobTaskV2QueryData>","type":"array","items":{"$ref":"#/definitions/IntegratorJobTaskV2QueryData"}}},"500":{"description":"An internal error has occurred","schema":{"title":"List<IntegratorJobTaskV2QueryData>","type":"array","items":{"$ref":"#/definitions/IntegratorJobTaskV2QueryData"}}},"400":{"description":"Invalid timestamp value","schema":{"title":"List<IntegratorJobTaskV2QueryData>","type":"array","items":{"$ref":"#/definitions/IntegratorJobTaskV2QueryData"}}}},"deprecated":false,"security":[{"Bearer":[]}]},"post":{"tags":[" Scope: Activities","JobTasks"],"summary":"Create a new job","description":"The auth token must contain a scope of activity:write.","operationId":"AddJobV2Requestjobtasks_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"LotId","in":"body","description":"lot Id","type":"string","required":true,"x-nullable":false},{"name":"DueDate","in":"body","description":"job due date","type":"string","format":"date-time","required":false},{"name":"Summary","in":"body","description":"job summary","type":"string","required":true},{"name":"Description","in":"body","description":"job description","type":"string","required":true},{"name":"ReportedContactType","in":"body","description":"Job contact types can be one of Owner, Agent and Tenant","type":"string","required":true,"enum":["Owner","Agent","Tenant"]},{"name":"Access","in":"body","description":"Job access types can be one of Owner, Agent and Tenant","type":"string","required":true,"enum":["Agent","Owner","Tenant"]},{"name":"ManagerMemberId","in":"body","description":"job manager member id","type":"string","required":false},{"name":"SupplierInstructions","in":"body","description":"supplier instructions","type":"string","required":false},{"name":"Priority","in":"body","description":"job priority","type":"string","required":false,"enum":["Low","Medium","High","Urgent"]}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/JobTaskResponse"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/JobTaskResponse"}},"400":{"description":"Invalid job request","schema":{"$ref":"#/definitions/JobTaskResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/v1/jobtasks/{Id}/quotation/{QuoteId}/documents":{"post":{"tags":[" Scope: Activities","JobTasks"],"summary":"Add a document to an existing quotation for the job task","description":"The auth token must contain a scope of activity:write.","operationId":"AddJobTasksQuotationDocumentRequestjobtasksIdquotationQuoteIddocuments_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Id","in":"path","description":"Job Id","type":"string","required":true,"x-nullable":false},{"name":"QuoteId","in":"path","description":"Quotation Id","type":"string","required":true,"x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/AddJobTasksQuotationDocumentRequest"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResponseBase"}},"500":{"description":"An internal error has occurred","schema":{"$ref":"#/definitions/ResponseBase"}},"400":{"description":"Invalid job request","schema":{"$ref":"#/definitions/ResponseBase"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]}},"definitions":{"Object":{"properties":{},"description":"Object","type":"object"},"GetUser":{"title":"GetUser","properties":{},"description":"GetUser","type":"object"},"SaveUserInfo":{"title":"SaveUserInfo","properties":{"FirstName":{"type":"string"},"LastName":{"type":"string"},"JobTitle":{"type":"string"},"MobilePhone":{"type":"string"},"WorkPhone":{"type":"string"},"NotificationPreference":{"type":"string"},"IsNotifySensitiveChanges":{"type":"boolean","x-nullable":false},"Preferences":{"$ref":"#/definitions/MemberPreferences"},"Signature":{"type":"string"},"SignatureOnReply":{"type":"boolean","x-nullable":false},"TwitterUrl":{"type":"string"},"FacebookUrl":{"type":"string"},"LinkedInUrl":{"type":"string"},"MemberSignatureAction":{"$ref":"#/definitions/MemberSignatureAction"}},"description":"SaveUserInfo","type":"object"},"MemberPreferences":{"title":"MemberPreferences","properties":{"IsDarkMenuOn":{"type":"boolean","x-nullable":false}},"description":"MemberPreferences","type":"object"},"MemberSignatureAction":{"title":"MemberSignatureAction","properties":{"SignatureDocumentStorageId":{"type":"string"},"ActionStatus":{"type":"string"}},"description":"MemberSignatureAction","type":"object"},"RedisStats":{"title":"RedisStats","properties":{},"description":"RedisStats","type":"object"},"ReplicaSyncStats":{"title":"ReplicaSyncStats","properties":{"Clear":{"type":"boolean","x-nullable":fals
[...]
